.info-section {
  margin-bottom: 35px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    & svg {
      width: 30px;
      height: 30px;
    }
  }

  &__character-photo {
    margin-bottom: 15px;
    width: 300px;
  }

  &__img-description {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: underline;
  }

  &__info-item:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &__character-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .info-section {

    &__item {

      & svg {
        width: 35px;
        height: 35px;
      }
    }

    &__character-photo {
      margin-right: 20px;
    }

    &__main-information {
      margin-top: auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .info-section{

    &__item {
      flex-direction: row;
      align-items: flex-start;
    }

    &__character-photo {
      margin-right: 10px;
    }

    &__character-info {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    &__main-information {
      margin-top: 5px;
      align-self: flex-start;
    }
  }
}
