.rope {
  position: absolute;
  top: -35%;
  right: 5%;

  &__button-rope {
    width: 8px;
    height: 70px;
    background: url('../img/rope.png') no-repeat center center;
    background-size: cover;
    animation: rope-animation .4s ease-in-out alternate 2 paused;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    transition: opacity .3s;

    &:hover {
      opacity: .8;
    }

    &:focus {
      opacity: .5;
    }

    &:active {
      animation: none;
    }

    &--filter-toggle {
      animation-play-state: running;
      animation-iteration-count: 2;
    }
  }
}
