.header {
  position: relative;
  margin-bottom: 80px;
  padding-top: 30px;

  &__welcome {
    margin: $margin-auto;
    padding: 0 10px;
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
  }

  &__single-word {
    opacity: 0;
  }
}
