.header {
  margin-bottom: 80px;
  position: relative;
  padding-top: 30px;

  &__welcome {
    margin: $margin-auto;
    padding: 0 10px;
    width: 50%;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
  }

  &__single-word {
    opacity: 0;

    &--fade-in {
      animation-name: appearance;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}
