.entrance-block {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: $black-color;

  &--bgc-change {
    animation-name: smooth-color-change;
    animation-duration: .8s;
    animation-fill-mode: forwards;
  }

  &__animation-gif {
    align-self: center;
    animation-name: entrance-animation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
    opacity: 0;

    &--back-animation {
      animation-name: exit-animation;
      animation-duration: .8s;
    }
  }
}
