.entrance-block {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $black-color;
  z-index: 1000;

  &--bgc-change {
    animation-name: change-loading-background-color;
    animation-duration: $default-animation-duration;
    animation-fill-mode: forwards;
  }

  &__animation-gif {
    align-self: center;
    animation-name: show-loading-spinner;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: $animation-duration-x2;
    opacity: 0;

    &--back-animation {
      animation-name: hide-loading-spinner;
      animation-duration: $default-animation-duration;
    }
  }
}
