.detailed-information {
  position: relative;

  &__character-information {
    justify-content: center;
  }

  &__character-photo {
    margin-bottom: 30px;

    & img {
      margin-bottom: 10px;
      border-radius: 30%;
    }
  }

  &__character-name {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  &__character-info {
    margin-bottom: 15px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
  }
}

@include media-breakpoint-up(md) {
  .detailed-information {

    &__character-photo {
      margin-bottom: 0;
    }

    &__character-history {
      align-self: center;
    }

    &__character-info {
      text-align: center;
    }
  }
}
