.author {
  justify-content: center;

  &__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $author-color;
    text-align: center;
    transition: color, opacity, $transition-duration ease-in;

    &:hover,
    &:focus {
      color: $author-color-hover;
    }

    &:active {
      opacity: .5;
    }
  }
}
