.loading-options {
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 3px solid $black-color;

  &__headline {
    margin-bottom: 40px;
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
  }

  &__item {
    margin-bottom: 15px;
    text-align: center;
  }

  &__load-section {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: inherit;

    &:hover {
      animation: trembling $default-animation-duration infinite ease-in-out;
    }

    &:active {
      animation: to-small-size forwards $animation-duration-x2 1;
    }

    &--active {
      text-shadow: 0 0 25px red;
    }
  }
}
