.loading-options {
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 3px solid $black-color;

  &__headline {
    margin-bottom: 40px;
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
  }

  &__item {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  &__load-button {
    &:hover,
    &:focus {
      animation: trembling-animation .8s infinite ease-in-out;
    }

    &:active {
      animation: size-to-small forwards .5s 1;
    }
  }
}
