.filter {
  position: absolute;
  top: -2000%;
  left: 50%;
  width: 264px;
  transform: translateX(-50%);
  background-color: $white-color;
  z-index: 1000;

  &::before,
  &::after {
    position: absolute;
    content: "";
    bottom: 100%;
    width: 80px;
    height: 20px;
    transform: rotate(90deg);
    background: url('../img/chain.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__container {
    padding: 15px;
    background-color: $white-color;
  }

  &__headline {
    margin-bottom: 10px;
    padding: 0 15px;
    text-align: center;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__input-label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    transition: opacity $transition-duration;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }

  &__fieldset:nth-of-type(1n) &__input-label {
    align-self: flex-start;
  }

  &__fieldset:nth-of-type(2n) &__input-label {
    align-self: flex-end;
  }

  &__input {
    padding: 5px 13px;
    border-bottom: 1px solid $black-color;
    transition: background-color $transition-duration;
  }

  &__input-label:hover + &__input {
    background-color: $yellow-color;
  }

  &__confirm-filter {
    margin: $margin-auto;
    display: block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transition: letter-spacing $transition-duration;

    &:hover,
    &:focus-visible {
      letter-spacing: 1.2px;
    }

    &:active {
      letter-spacing: 3.5px;
    }
  }
}
