$margin-auto: 0 auto;

// main width

$desktop-width: 1366px;
$desktop-container-width: 1170px;

//

//fonts

$Misfits-font: 'Misfits';

//

//colors

$white-color: #ffffff;
$black-color: #000000;

$main-background-color: #F7C49D;

$author-color: #5872b9;

$author-color-hover: #1d44ad;

$main-color: #314e1c;

$total-color: #a02c2c;

$th-color: #133c88;
$td-color: #125e61;
